/*
======================
Hero Area
======================
*/

.hero,
.hero .glide__slides {
  background-color: #f1f1f1;
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero .glide__bullet {
  background-color: #222;
  width: 1.2rem;
  height: 1.2rem;
}

.hero .glide__arrow {
  padding: 1.5rem 1.7rem;
  opacity: 0;
  border: none;
  background-color: var(--grey);
  transition: all 0.5s ease-in-out 0.2s;
}

.glide__arrow:hover {
  background-color: #222;
}

.glide__arrow--left {
  left: 20rem;
}

.glide__arrow--right {
  position: absolute;
  right: 20rem;
}

.hero:hover .glide__arrow {
  opacity: 1;
}

.hero:hover .glide__arrow--left {
  left: 23rem;
}

.hero:hover .glide__arrow--right {
  right: 23rem;
}

.hero .glide__arrow svg {
  height: 1.8rem;
  width: 1.8rem;
  fill: #f1f1f1;
}

.hero .glide__arrow {
  border-radius: 50%;
}

.hero__center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 114rem;
  margin: 0 auto;
  height: 100%;
  padding-top: 3rem;
}

.hero__left {
  padding: 0 3rem;
  flex: 0 0 50%;
}

.hero__btn {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: #222;
  color: #f1f1f1;
  cursor: pointer;
  margin-top: 1rem;
  padding: 1.5rem 4rem;
  border: 1px solid #222;
  transition: all 0.3s ease-in-out;
}

.hero__btn:focus {
  outline: none;
}

.hero__left .hero__btn:hover {
  font-weight: 700;
  background-color: transparent;
  color: #222;
}

.hero__left h1 {
  margin: 1rem 0;
}

.hero__left p {
  margin-bottom: 1rem;
}

.hero__right {
  flex: 0 0 50%;
  position: relative;
  text-align: center;
}

.hero__right img.banner_03 {
  width: 70%;
}


/*
======================
Collection
======================
*/

.section {
  padding: 3rem 0;
}

.collection {
  margin: 3rem 0;
}

.collection__container {
  width: 100%;
  padding: 0 1.6rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.collection__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex: 0 0 48%;
  height: 30rem;
  background-color: #f1f1f1;
}

.collection__box:not(:last-child) {
  margin-right: 1.6rem;
}

.img__container {
  width: 25rem;
  text-align: center;
}

.collection__box img.collection_01 {
  width: 60%;
}

.collection__box img.collection_02 {
  width: 75%;
}

.collection__content {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection__content span {
  color: var(--black);
}

.collection__content h1 {
  margin-top: 0.5rem;
}

.collection__content a:link,
.collection__content a:visited {
  font-weight: 700;
  display: inline-block;
  padding: 1rem 1.4rem;
  margin-top: 1.3rem;
  border-radius: 3rem;
  border: 2px solid var(--secondaryColor);
  color: #f1f1f1;
  background-color: var(--secondaryColor);
  transition: all 0.3s ease-in-out;
}

.collection__content a:hover {
  background-color: transparent;
  color: var(--secondaryColor);
}

/*
======================
Latest Products
======================
*/

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 6rem;
  padding: 2rem 0;
  background-color: #f1f1f1;
}

.section__titles:not(:last-child) {
  margin-right: 1.5rem;
}

.section__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section__title h1 {
  font-size: 1.9rem;
  font-weight: inherit;
}

.section__title:hover .primary__title,
.section__title:hover span.dot,
.section__title:hover span.dot::before {
  opacity: 1;
}

.section__title .primary__title {
  opacity: 0.6;
  padding-left: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}

span.dot {
  opacity: 0.6;
  padding: 0.45rem;
  position: relative;
  border: 1px solid var(--black);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

span.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--black);
  background-color: var(--black);
  margin: 1px;
  opacity: 0.6;
}

.section__title.active span.dot {
  opacity: 1;
}

.section__title.active span.dot::before {
  opacity: 1;
}

.section__title.active .primary__title {
  opacity: 1;
}

.product {
  position: relative;
  text-align: center;
}

.product ul svg {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--white);
}

.product ul {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35%;
  left: 50%;
  width: 17rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.7);
  transition: all 0.5s ease-in-out;
}

.product:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.product ul li:not(:last-child) {
  margin-right: 1.6rem;
}

.product ul a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.product ul a:hover {
  background-color: var(--black);
}

.product ul a::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  height: 0;
  width: 0;
  border-top: 3px solid var(--orange);
  border-left: 3px solid var(--orange);
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
}

.product ul a::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  right: -0.6rem;
  width: 0;
  height: 0;
  border-bottom: 3px solid var(--orange);
  border-right: 3px solid var(--orange);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

.product ul a:hover::before {
  width: 126%;
  height: 126%;
  border-top: 3px solid var(--black);
  border-left: 3px solid var(--black);
  opacity: 1;
}

.product ul a:hover::after {
  width: 126%;
  height: 126%;
  border-bottom: 3px solid var(--black);
  border-right: 3px solid var(--black);
  opacity: 1;
}


.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25rem;
}

.product__header {
  height: 25rem;
  padding: 0.5rem 0;
  text-align: center;
}

.product__header img {
  max-width: 100%;
  max-height: 100%;
}

.product__footer {
  padding: 1rem 0;
}

.rating svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--yellow);
}

.product__footer h3 {
  padding: 1rem 0;
}

.product__footer .product__price {
  padding-bottom: 1rem;
}

.product__footer h3 {
  font-size: 1.6rem;
}

.product__btn {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 1.4rem 0;
  border: 1px solid var(--black);
  color: var(--black);
  cursor: pointer;
}

.product__btn:focus {
  outline: none;
}

.product__btn:hover {
  background-color: var(--black);
  color: #f1f1f1;
}

.latest__products .glide__arrow {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  outline: none;
  border-radius: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0);
  top: -7%;
  left: 80%;
}

.latest__products .glide__arrow:hover{
  background-color: var(--orange);
  border: 1px solid #f1f1f1;
}

.latest__products .glide__arrow--left {
  left: 75%;
}

.latest__products .glide__arrow--right {
  right: 5%;
}

.latest__products .glide__arrow svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--grey);
}

/*
======================
Category Center
======================
*/
.category__center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem 2rem;
}

/*
======================
Product Details
======================
*/

.details__container--left,
.product-detail__container {
  display: flex;
  align-items: flex-start;
}

.product-detail__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 0;
  margin: 0 auto;
}

.product-detail__left {
  flex: 0 0 50%;
  margin-right: 2rem;
}

.product-detail__right {
  flex: 0 0 50%;
}

.product-detail__container--left img {
  width: 100%;
  object-fit: cover;
}

.product__pictures {
  display: flex;
  flex-direction: column;
}

.pictures__container {
  padding: 1rem;
  border: 1px solid #f1f1f1;
  border-right-color: transparent;
  cursor: pointer;
  width: 6.2rem;
  transition: 0.3s;
}

.pictures__container:not(:last-child) {
  border-bottom-color: transparent;
}

.pictures__container:hover {
  border: 1px solid var(--orange);
}

.pictures__container img {
  transition: 0.3s;
}

.pictures__container:hover img {
  scale: 1.1;
}

.product__picture {
  width: 100%;
  border: 1px solid #f1f1f1;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.product-details__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.product-details__btn a {
  flex: 0 0 47%;
  display: inline-block;
  padding: 1.6rem 3rem;
  text-align: center;
  color: var(--black);
  border: 1px solid var(--black);
}

.product-details__btn svg {
  width: 1.9rem;
  height: 1.9rem;
  transition: 0.3s;
}

.product-details__btn .add,
.product-details__btn .buy {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.product-details__btn .add span,
.product-details__btn .buy span {
  margin-right: 1rem;
}

.product-details__btn .add:hover,
.product-details__btn .buy:hover {
  background-color: var(--black);
  color: #f1f1f1;
}

.product-details__btn .add:hover svg,
.product-details__btn .buy:hover svg {
  fill: #f1f1f1;
}

.product-detail__content {
  width: 90%;
  margin: 0 auto;
}

.product-detail__content h3 {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

.price {
  margin-bottom: 1rem;
}

.new__price {
  font-size: 2rem;
  color: var(--orange);
}

.product-detail__content .product__review {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 0.5px solid #f1f1f1;
}

.rating {
  margin-right: 1rem;
}

.product__review a:link,
.product__review a:visited {
  color: var(--black);
}

.product-detail__content p {
  font-size: 1.4rem;
  color: var(--black2);
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}

.product__info .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.select .select-box {
  background: none;
  width: 18rem;
  border: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.select .select-box:focus {
  outline: none;
}

.select__option label {
  font-size: 1.4rem;
  color: var(--black3);
  display: inline-block;
  padding-bottom: 1rem;
}

.input-counter {
  display: flex;
  align-items: center;
}

.input-counter div {
  display: flex;
}

.input-counter li span {
  font-size: 1.4rem;
  color: var(--black3);
  margin-right: 1rem;
}

.minus-btn,
.plus-btn {
  display: inline-block;
  border: 1px solid #f1f1f1;
  padding: 0.8rem 1rem;
  margin-right: 0;
  cursor: pointer;
}

.plus-btn {
  border-left-color: transparent;
}

.minus-btn {
  border-right-color: transparent;
}

.counter-btn {
  width: 7rem;
  padding: 1rem 0;
  text-align: center;
  border: 1px solid #f1f1f1;
}

.input-counter svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--grey3);
}

.product__info li {
  margin-bottom: 1.6rem;
}

.product__info .in-stock {
  color: var(--green);
}

.product__info li a {
  font-size: 1.4rem;
  color: var(--black2);
}

.product-info__btn span svg {
  width: 1.8rem;
  height: 1.8rem;
}

.product-info__btn {
  display: flex;
  align-items: center;
}

.product-info__btn a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--black2);
}

.product-info__btn a:not(:last-child) {
  margin-right: 1rem;
}

/* Product Details Bottom */

.detail__content {
  position: relative;
  height: 25rem;
}

.detail__content .content {
  position: absolute;
  transform: translate(0, 25vh);
  transition: all 0.6s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 555;
}

.detail__content .content.active {
  transform: translate(0, 0vh);
  opacity: 1;
  visibility: visible;
}

#shipping h3,
#shipping p {
  color: var(--grey2);
}

#shipping p,
#description p {
  padding: 1.6rem 0;
  line-height: 2.8rem;
}

#reviews {
  font-size: 3rem;
  font-weight: 500;
  color: var(--grey2);
  border-bottom: 1px solid #f1f1f1;
}

#description p,
#description li,
#description h2 {
  color: var(--grey2);
}

#description h2 {
  font-weight: 500;
  padding: 1rem 0;
}

#description li {
  line-height: 3rem;
  color: vaf;
}

#description ol {
  padding-left: 1.6rem;
}

/*
======================
Cart Area
======================
*/
.cart__area {
  padding-bottom: 5rem;
}

.cart__form {
  display: block;
}

.product__thumbnail img {
  width: 10rem;
  height: 15rem;
  object-fit: contain;
}

.remove__cart-item svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--grey2);
  transition: all 0.3s ease-in-out;
}

.cart__table {
  display: block;
  width: 100%;
  margin-bottom: 4rem;
  overflow-x: auto;
}

.cart__table .table {
  border-collapse: collapse;
  width: 100%;
  max-width: 150rem;
}

.cart__table .table th {
  font-weight: 500;
  font-style: 2rem;
  text-align: left;
  padding: 1.8rem 0;
}

.cart__table .table td {
  vertical-align: middle;
  padding: 1.8rem 0;
  white-space: nowrap;
  border-bottom: 1px solid #f1f1f1;
}

.cart__table .table thead {
  border-bottom: 1px solid #f1f1f1;
}

.product__name a:link,
.product__name a:visited {
  font-size: 1.5rem;
  color: var(--black2);
}

.product__name small {
  color: var(--grey);
  margin-top: 1.6rem;
}

.product__subtotal .price {
  display: inline;
}

.product__subtotal .price .new__price,
.product__price .price .new__price {
  font-size: 1.6rem;
}

.remove__cart-item {
  margin-left: 1rem;
}

.remove__cart-item:hover svg {
  fill: var(--orange);
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 4rem;
  margin: 3rem 0;
}

.continue__shopping a:link,
.continue__shopping a:visited {
  font-size: 1.5rem;
  padding: 1.2rem 3rem;
  color: var(--black);
  text-transform: uppercase;
  border: 1px solid var(--black);
  transition: all 0.4s ease-in-out;
}

.continue__shopping a:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

.cart__totals {
  width: 60rem;
  /* height: 30rem; */
  margin: 5rem auto 0 auto;
  color: var(--black5);
  padding: 4rem 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 30px 10px rgba(0, 0, 0, 0.09);
  border-radius: 0.5rem;
}

.cart__totals h3 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.cart__totals .new__price {
  font-size: 1.5rem;
}

.cart__totals ul {
  margin-bottom: 2.5rem;
}

.cart__totals li {
  border: 1px solid #f1f1f1;
  padding: 1.4rem 0.5rem;
  position: relative;
}

.cart__totals li:not(:last-child) {
  border-bottom-color: transparent;
}

.cart__totals li span {
  position: absolute;
  right: 1rem;
}

.cart__totals a:link,
.cart__totals a:visited {
  font-size: 1.5rem;
  padding: 1.2rem 3rem;
  color: var(--black);
  text-transform: uppercase;
  border: 1px solid var(--black);
  transition: all 0.4s ease-in-out;
}

.cart__totals a:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}
